<a href="https://colab.research.google.com/github/1ADIS1/TenderInno/blob/main/Data_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import json

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
businesses = pd.read_excel("/content/gdrive/MyDrive/TenderInno/TenderHack/Контракты.xlsx")

In [ ]:
businesses = businesses.drop('Номер контракта', 1)

businesses = businesses.drop('Дата публикации КС на ПП', 1)

businesses = businesses.drop('КПП заказчика', 1)

businesses = businesses.drop('ИНН поставщика', 1)

businesses = businesses.drop('КПП поставщика', 1)

businesses = businesses.drop('Наименование поставщика', 1)

businesses.head()

  Дата заключения контракта  ...                                                СТЕ
0                2019-06-18  ...  [{"Id":1226040,"Quantity":100.00000,"Amount":2...
1                2019-06-18  ...  [{"Id":null,"Quantity":4.00000,"Amount":42656....
2                2019-06-18  ...  [{"Id":null,"Quantity":1.00000,"Amount":26638....
3                2019-06-18  ...  [{"Id":1405814,"Quantity":120.00000,"Amount":8...
4                2019-06-18  ...  [{"Id":null,"Quantity":300.00000,"Amount":2836...

[5 rows x 5 columns]

In [ ]:
business_name = businesses["Наименование заказчика"]
business_name

0         ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ДОПОЛНИТЕ...
1         ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ЗДРАВООХР...
2         ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ГОРОДА МО...
3         ГОСУДАРСТВЕННОЕ КАЗЕННОЕ УЧРЕЖДЕНИЕ ГОРОДА МОС...
4         ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ЗДРАВООХР...
                                ...
414988    Государственное бюджетное общеобразовательное ...
414989    Государственное бюджетное общеобразовательное ...
414990    Государственное бюджетное общеобразовательное ...
414991    Государственное бюджетное общеобразовательное ...
414992    Государственное бюджетное профессиональное обр...
Name: Наименование заказчика, Length: 414993, dtype: object

In [ ]:
business_name = business_name.unique()
business_name
business_name.shape

(2457,)

In [ ]:
business_name = pd.Series(business_name)
business_name

0       ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ДОПОЛНИТЕ...
1       ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ЗДРАВООХР...
2       ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ГОРОДА МО...
3       ГОСУДАРСТВЕННОЕ КАЗЕННОЕ УЧРЕЖДЕНИЕ ГОРОДА МОС...
4       ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ ...
                              ...
2452    Государственное бюджетное общеобразовательное ...
2453    Государственное бюджетное общеобразовательное ...
2454    ГОСУДАРСТВЕННОЕ АВТОНОМНОЕ УЧРЕЖДЕНИЕ КУЛЬТУРЫ...
2455    Государственное казенное учреждение города Мос...
2456    ГОСУДАРСТВЕННОЕ КАЗЕННОЕ УЧРЕЖДЕНИЕ ГОРОДА МОС...
Length: 2457, dtype: object

In [ ]:
cte = pd.read_excel("/content/gdrive/MyDrive/TenderInno/TenderHack/СТЕ.xlsx")

In [ ]:
businesses['Class'] = [np.NaN for i in range(len(businesses))]
businesses['Class_id'] = [np.NaN for i in range(len(businesses))]

businesses.head()

  Дата заключения контракта  Цена контракта  ...  Class Class_id
0                2019-06-18        21970.00  ...    NaN      NaN
1                2019-06-18        85312.00  ...    NaN      NaN
2                2019-06-18        26638.34  ...    NaN      NaN
3                2019-06-18        82386.00  ...    NaN      NaN
4                2019-06-18        28362.00  ...    NaN      NaN

[5 rows x 7 columns]

In [ ]:
df1 = businesses.iloc[[i for i in range(len(businesses)) if len(json.loads(businesses.loc[i, 'СТЕ'])) == 1]]
df2 = businesses.iloc[[i for i in range(len(businesses)) if len(json.loads(businesses.loc[i, 'СТЕ'])) > 1]]

In [ ]:
df1['CTE_Id'] = df1['СТЕ'].map(lambda i: json.loads(i)[0]['Id'])
df1['CTE_Quantity'] = df1['СТЕ'].map(lambda i: json.loads(i)[0]['Quantity'])
df1['CTE_Amount'] = df1['СТЕ'].map(lambda i: json.loads(i)[0]['Amount'])
df1 = df1.drop('СТЕ', axis='columns')
df1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  Дата заключения контракта  Цена контракта  ...  CTE_Quantity CTE_Amount
0                2019-06-18        21970.00  ...         100.0   21970.00
2                2019-06-18        26638.34  ...           1.0   26638.34
3                2019-06-18        82386.00  ...         120.0   82386.00
4                2019-06-18        28362.00  ...         300.0   28362.00
5                2019-06-18        31044.00  ...           5.0   31044.00

[5 rows x 9 columns]

In [ ]:
len(df1)

280897

In [ ]:
df2

       Дата заключения контракта  Цена контракта  ...  Class Class_id
1                     2019-06-18        85312.00  ...    NaN      NaN
7                     2019-06-18        51291.68  ...    NaN      NaN
8                     2019-06-18        81782.70  ...    NaN      NaN
10                    2019-06-18        17247.33  ...    NaN      NaN
13                    2019-06-18        39028.76  ...    NaN      NaN
...                          ...             ...  ...    ...      ...
414943                2017-07-12        53149.91  ...    NaN      NaN
414961                2017-07-11        43839.96  ...    NaN      NaN
414966                2017-07-11         9159.96  ...    NaN      NaN
414973                2017-07-11       115369.99  ...    NaN      NaN
414992                2017-07-10       168499.92  ...    NaN      NaN

[134096 rows x 7 columns]

In [ ]:
len(df2)

134096

In [ ]:
for i in list(df2.index):
    for cte in json.loads(df2.loc[i , 'СТЕ']):
        new_ser = df2.loc[i].drop('СТЕ')
        new_ser['CTE_Id'] = cte['Id']
        new_ser['CTE_Quantity'] = cte['Quantity']
        new_ser['CTE_Amount'] = cte['Amount']
        df1 = df1.append(new_ser)
        # print(df1.tail())
        # print()

In [ ]:
len(df1)

In [ ]:
df1

In [ ]:
classes = ['образ', 'культ', 'здрав', 'спорт', 'инжен', 'автомо', 'молод']
for i in range(len(businesses)):
    for id, c in enumerate(classes):
        if c in businesses.loc[i, 'Наименование заказчика'].lower():
            businesses.loc[i, 'Class'] = c
            businesses.loc[i, 'Class_id'] = id
            break

KeyboardInterrupt: ignored

In [ ]:
businesses.head()

  Дата заключения контракта  Цена контракта  ...  Class Class_id
0                2019-06-18        21970.00  ...    NaN      NaN
1                2019-06-18        85312.00  ...    NaN      NaN
2                2019-06-18        26638.34  ...    NaN      NaN
3                2019-06-18        82386.00  ...    NaN      NaN
4                2019-06-18        28362.00  ...    NaN      NaN

[5 rows x 7 columns]